@mixin size10 { font-size: 1rem; }
@mixin size11 { font-size: 1.1rem; }
@mixin size12 { font-size: 1.2rem; }
@mixin size13 { font-size: 1.3rem; }
@mixin size14 { font-size: 1.4rem; }
@mixin size15 { font-size: 1.5rem; }
@mixin size16 { font-size: 1.6rem; }
@mixin size17 { font-size: 1.7rem; }
@mixin size18 { font-size: 1.8rem; }
@mixin size19 { font-size: 1.9rem; }
@mixin size20 { font-size: 2rem; }
@mixin size21 { font-size: 2.1rem; }
@mixin size22 { font-size: 2.2rem; }
@mixin size23 { font-size: 2.3rem; }
@mixin size24 { font-size: 2.4rem; }
@mixin size25 { font-size: 2.5rem; }
@mixin size26 { font-size: 2.6rem; }
@mixin size27 { font-size: 2.7rem; }
@mixin size28 { font-size: 2.8rem; }
@mixin size29 { font-size: 2.9rem; }
@mixin size30 { font-size: 3rem; }
