@import './color/index.scss';
@import './mixin.scss';

* {
  @include font-family;
  box-sizing: border-box;
}

html {
  /* stylelint-disable-next-line */
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include relative;
  @include w100;
  @include flex;
  @include margin0;
  @include padding0;
  @include size14;
  height: 100vh;
  overflow: hidden;
  font-weight: 400;
  touch-action: none;
  color: $grey900;
  background-color: $grey100;
}

::selection {
  color: $grey100;
  background-color: $redA400;
}
