@import './mixin/color-mixin.scss';
@import './mixin/size-mixin.scss';

@mixin font-family { font-family: 'Open Sans', system-ui, sans-serif; }

@mixin border-box { box-sizing: border-box; }

@mixin relative { position: relative; }
@mixin absolute { position: absolute; }
@mixin fixed { position: fixed; }

@mixin flex { display: flex; }
@mixin inline-flex { display: inline-flex; }
@mixin flex1 { flex: 1; }
@mixin column { flex-direction: column; }

@mixin align-center { align-items: center; }
@mixin justify-center { justify-content: center; }

@mixin hidden { visibility: hidden; }
@mixin visible { visibility: visible; }

@mixin flex-column {
  @include flex;
  @include column;
}
@mixin inline-flex-column {
  @include inline-flex;
  @include column;
}

@mixin flex-center {
  @include flex;
  @include align-center;
  @include justify-center;
}

@mixin inline-flex-center {
  @include inline-flex;
  @include align-center;
  @include justify-center;
}

@mixin w100 { width: 100%; }
@mixin h100 { height: 100%; }

@mixin margin0 { margin: 0; }
@mixin padding0 { padding: 0; }
@mixin left($value) { left: $value; }
@mixin right($value) { right: $value; }

@mixin fixed-full {
  @include fixed;
  @include w100;
  @include h100;
  @include left(0);
  @include right(0);
}

@mixin transparent { @include black-bg(0); }
